<div class="card">
    <div class="card-header">
        Registracijų sąrašas
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Lytis</th>
                    <th>Gimimo metai</th>
                    <th>Klasė</th>
                    <th>Telefonas</th>
                    <th>El. paštas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td>{{registration.name}}</td>
                    <td>{{registration.surname}}</td>
                    <td>{{registration.gender}}</td>
                    <td>{{registration.birthYear}}</td>
                    <td>{{registration.kidClass}}</td>
                    <td>{{registration.phone}}</td>
                    <td>{{registration.email}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>