<div class="alert alert-primary" role="alert" *ngIf="this.dataStatus == 'loading'">
    Informacija kraunama...
</div>

<div class="alert alert-danger" role="alert" *ngIf="this.dataStatus == 'failedLoad'">
    Nepavyko užkrauti įrašų.
</div>

<div class="card" *ngIf="this.dataStatus == 'successLoad'">
    <div class="card-header">
        Registracijų sąrašas
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Lytis</th>
                    <th>Gimimo metai</th>
                    <th>Klasė</th>
                    <th>Telefonas</th>
                    <th>El. paštas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td>{{registration.name}}</td>
                    <td>{{registration.surname}}</td>
                    <td>{{registration.gender}}</td>
                    <td>{{registration.birthYear}}</td>
                    <td>{{registration.kidClass}}</td>
                    <td>{{registration.phone}}</td>
                    <td>{{registration.email}}</td>
                    <td>
                        <div *ngIf="isLoggedIn">
                            <a class="me-2 btn btn-warning" [routerLink]="['/update', registration.id]">Koreguoti</a> 
                            <button class="btn btn-danger" (click)="deleteRegistration(registration.id)">Ištrinti</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>