<div class="card">
    <div class="card-header">Registracija į gamtininkų stovyklą</div>
    <div class="card-body">
        <form [formGroup]="naturalistRegistrationForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="" class="form-label">Vardas</label>
                <input type="text" formControlName="name" class="form-control">
                <span class="help-block" *ngIf="!naturalistRegistrationForm.get('name')?.valid && naturalistRegistrationForm.get('name')?.touched">Vardas yra privalomas ir turi būti nuo 3 iki 16 simbolių.</span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pavardė</label>
                <input type="text" formControlName="surname" class="form-control">
                <span class="help-block" *ngIf="!naturalistRegistrationForm.get('surname')?.valid && naturalistRegistrationForm.get('surname')?.touched">Pavardė yra privaloma ir turi būti nuo 3 iki 16 simbolių.</span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">El. pašto adresas</label>
                <input type="string" class="form-control" formControlName="email">
                <span class="help-block" *ngIf="!naturalistRegistrationForm.get('email')?.valid && naturalistRegistrationForm.get('email')?.touched">Įveskite realų el. pašto adresą.</span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Vaiko klasė</label>
                <input type="string" class="form-control" formControlName="kidClass">
                <span class="help-block" *ngIf="!naturalistRegistrationForm.get('kidClass')?.valid && naturalistRegistrationForm.get('kidClass')?.touched">Leistina vaiko klasė nuo 6 iki 12.</span>
            </div>
            <hr>
            <h4>Alergijos</h4>
            <hr>
            <button class="btn btn-primary mb-3" type="button" (click)="addAllergy()">Pridėti alergiją</button>
            <div formArrayName="allergy">
                <div class="mb-3" *ngFor="let alergyItem of allergies; let i = index">
                    <div class="d-flex">
                        <input type="text" class="me-2 form-control" [formControlName]="i">
                    </div>
                </div>
                <a *ngIf="allergies.length > 0" class="btn btn-danger mb-2" type="button" (click)="deleteAllergy()">Ištrinti</a>
            </div>
            <hr>
            <h4>Ankščiau lankyti būreliai</h4>
                <button type="button" class="btn btn-primary mb-3" (click)="addPastActivity()">Pridėti būrelį</button>
                <div formArrayName="pastActivity">
                    <div *ngFor="let activity of pastActivities; let i = index">
                        <div class="row mb-3" [formGroup]="toFormGroup(activity)">
                            <div class="col-md-3">
                                <label class="form-label">Metai</label>
                                <input type="number" class="form-control" formControlName="year">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Pavadinimas</label>
                                <input type="text" class="form-control" formControlName="title">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Būrelis</label>
                                <select class="form-select" formControlName="activityType">
                                    <option value="sporto">Sporto</option>
                                    <option value="meno">Meno</option>
                                    <option value="mokslo">Mokslo</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            <button class="btn btn-success" type="submit" [disabled]="!naturalistRegistrationForm.valid">Registruoti</button>
        </form>
    </div>
</div>