<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AutReg</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Registracijų sąrašas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new">Nauja registracija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new-club-registration">Registracija į gamtininkų būrelį</a>
          </li>
        </ul>
        <div *ngIf="isLoggedIn" class="d-flex me-2">Jūs esate prisijungęs: {{user?.email}}</div>
        <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary d-flex">Prisijungti</a>
        <button *ngIf="isLoggedIn" class="btn btn-primary d-flex" (click)="onLogout()">Atsijungti</button>
        <a *ngIf="isLoggedIn" routerLink="/reset-password" class="ms-2 d-flex">Pakeisti slaptažodį</a>
      </div>
    </div>
  </nav>
